DigitalSimulatorTools/castor/DocumentDocumentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Registred (Registred) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="DocumentDocumentation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="version">
					<xs:complexType>
						<xs:choice>
							<xs:element name="v_01x00" minOccurs="0">
								<xs:complexType>
									<xs:all>
										<xs:element name="author">
											<xs:complexType>
												<xs:all>
													<xs:element name="firstName" type="xs:string"/>
													<xs:element name="lastName" type="xs:string"/>
													<xs:element name="street" type="xs:string"/>
													<xs:element name="number" type="xs:string"/>
													<xs:element name="city" type="xs:string"/>
													<xs:element name="zipCode" type="xs:string"/>
													<xs:element name="eMail" type="xs:string"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
										<xs:element name="circuit">
											<xs:complexType>
												<xs:all>
													<xs:element name="name" type="xs:string"/>
													<xs:element name="shortDescription" type="xs:string"/>
													<xs:element name="longDescription" type="xs:string"/>
													<xs:element name="version" type="xs:string"/>
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
