DigitalSimulatorTools/castor/LiveUpdate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Registred (Registred) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Update">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="updateFile" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="relativePath" type="xs:string"/>
							<xs:element name="version" type="xs:long"/>
							<xs:element name="downloadUrl" type="xs:anyURI"/>
							<xs:element name="size" type="xs:int"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
