DigitalSimulatorTools/castor/Untitled13.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Registred (Registred) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="circuit">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="circuitPath" type="xs:string"/>
				<xs:element name="tmpCircuitPath" type="xs:string"/>
				<xs:element name="imagePath" type="xs:string"/>
				<xs:element name="objects">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="object" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="input">
											<xs:complexType mixed="true">
												<xs:choice minOccurs="0" maxOccurs="unbounded">
													<xs:element name="port" type="portType"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="output">
											<xs:complexType mixed="true">
												<xs:choice minOccurs="0" maxOccurs="unbounded">
													<xs:element name="port" type="portType"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="00C751C0"/>
												<xs:enumeration value="00C76290"/>
												<xs:enumeration value="00C77250"/>
												<xs:enumeration value="00C78460"/>
												<xs:enumeration value="00C789B0"/>
												<xs:enumeration value="00C790E0"/>
												<xs:enumeration value="00C795C0"/>
												<xs:enumeration value="00C79AA0"/>
												<xs:enumeration value="00C79F20"/>
												<xs:enumeration value="00C7B8B0"/>
												<xs:enumeration value="00C7CBB0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="group" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="OBJECTGROUP.ALU"/>
												<xs:enumeration value="OBJECTGROUP.DISPLAY"/>
												<xs:enumeration value="OBJECTGROUP.SWITCH"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="type" type="xs:string" use="required"/>
									<xs:attribute name="version" type="xs:decimal" use="required"/>
									<xs:attribute name="positionX" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="24"/>
												<xs:enumeration value="447"/>
												<xs:enumeration value="450"/>
												<xs:enumeration value="456"/>
												<xs:enumeration value="705"/>
												<xs:enumeration value="712"/>
												<xs:enumeration value="770"/>
												<xs:enumeration value="771"/>
												<xs:enumeration value="775"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="positionY" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="226"/>
												<xs:enumeration value="246"/>
												<xs:enumeration value="291"/>
												<xs:enumeration value="329"/>
												<xs:enumeration value="368"/>
												<xs:enumeration value="37"/>
												<xs:enumeration value="450"/>
												<xs:enumeration value="491"/>
												<xs:enumeration value="503"/>
												<xs:enumeration value="532"/>
												<xs:enumeration value="645"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="width" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="140"/>
												<xs:enumeration value="222"/>
												<xs:enumeration value="239"/>
												<xs:enumeration value="72"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="height" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="196"/>
												<xs:enumeration value="265"/>
												<xs:enumeration value="385"/>
												<xs:enumeration value="53"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="documenttation">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DocumentDocumentation">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="version">
														<xs:complexType>
															<xs:choice>
																<xs:element name="v_01x00" minOccurs="0">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="author">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="firstName" type="xs:string"/>
																						<xs:element name="lastName" type="xs:string"/>
																						<xs:element name="street" type="xs:string"/>
																						<xs:element name="number" type="xs:string"/>
																						<xs:element name="city" type="xs:string"/>
																						<xs:element name="zipCode" type="xs:string"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="circuit">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="name" type="xs:string"/>
																						<xs:element name="shortDescription" type="xs:string"/>
																						<xs:element name="longDescription" type="xs:string"/>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="links">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="link" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="point" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="positionX" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="246"/>
															<xs:enumeration value="275"/>
															<xs:enumeration value="300"/>
															<xs:enumeration value="303"/>
															<xs:enumeration value="331"/>
															<xs:enumeration value="332"/>
															<xs:enumeration value="359"/>
															<xs:enumeration value="360"/>
															<xs:enumeration value="385"/>
															<xs:enumeration value="388"/>
															<xs:enumeration value="407"/>
															<xs:enumeration value="413"/>
															<xs:enumeration value="429"/>
															<xs:enumeration value="434"/>
															<xs:enumeration value="447"/>
															<xs:enumeration value="450"/>
															<xs:enumeration value="456"/>
															<xs:enumeration value="689"/>
															<xs:enumeration value="702"/>
															<xs:enumeration value="705"/>
															<xs:enumeration value="712"/>
															<xs:enumeration value="741"/>
															<xs:enumeration value="744"/>
															<xs:enumeration value="745"/>
															<xs:enumeration value="770"/>
															<xs:enumeration value="771"/>
															<xs:enumeration value="775"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="positionY" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:NMTOKEN">
															<xs:enumeration value="100"/>
															<xs:enumeration value="132"/>
															<xs:enumeration value="164"/>
															<xs:enumeration value="257"/>
															<xs:enumeration value="275"/>
															<xs:enumeration value="289"/>
															<xs:enumeration value="315"/>
															<xs:enumeration value="316"/>
															<xs:enumeration value="321"/>
															<xs:enumeration value="353"/>
															<xs:enumeration value="354"/>
															<xs:enumeration value="355"/>
															<xs:enumeration value="393"/>
															<xs:enumeration value="395"/>
															<xs:enumeration value="475"/>
															<xs:enumeration value="515"/>
															<xs:enumeration value="516"/>
															<xs:enumeration value="534"/>
															<xs:enumeration value="555"/>
															<xs:enumeration value="557"/>
															<xs:enumeration value="566"/>
															<xs:enumeration value="595"/>
															<xs:enumeration value="598"/>
															<xs:enumeration value="630"/>
															<xs:enumeration value="676"/>
															<xs:enumeration value="68"/>
															<xs:enumeration value="708"/>
															<xs:enumeration value="740"/>
															<xs:enumeration value="772"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="00C660A0"/>
												<xs:enumeration value="00C68CA0"/>
												<xs:enumeration value="00C77500"/>
												<xs:enumeration value="00C77760"/>
												<xs:enumeration value="00C779C0"/>
												<xs:enumeration value="00C77C20"/>
												<xs:enumeration value="00C78D10"/>
												<xs:enumeration value="00C78F70"/>
												<xs:enumeration value="00C7A050"/>
												<xs:enumeration value="00C7A360"/>
												<xs:enumeration value="00C7A5C0"/>
												<xs:enumeration value="00C7A820"/>
												<xs:enumeration value="00C7AA30"/>
												<xs:enumeration value="00C7B120"/>
												<xs:enumeration value="00C7B280"/>
												<xs:enumeration value="00C7BDC0"/>
												<xs:enumeration value="00C7C1C0"/>
												<xs:enumeration value="00C7C370"/>
												<xs:enumeration value="00C7C4D0"/>
												<xs:enumeration value="00C7CD60"/>
												<xs:enumeration value="00C7CEC0"/>
												<xs:enumeration value="00C7DF70"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="port1" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="00C76940"/>
												<xs:enumeration value="00C769F0"/>
												<xs:enumeration value="00C76AA0"/>
												<xs:enumeration value="00C76B50"/>
												<xs:enumeration value="00C76C00"/>
												<xs:enumeration value="00C76CB0"/>
												<xs:enumeration value="00C76E10"/>
												<xs:enumeration value="00C76EC0"/>
												<xs:enumeration value="00C78160"/>
												<xs:enumeration value="00C78670"/>
												<xs:enumeration value="00C792C0"/>
												<xs:enumeration value="00C797A0"/>
												<xs:enumeration value="00C79C80"/>
												<xs:enumeration value="00C7ABC0"/>
												<xs:enumeration value="00C7B430"/>
												<xs:enumeration value="00C7B4E0"/>
												<xs:enumeration value="00C7B590"/>
												<xs:enumeration value="00C7B640"/>
												<xs:enumeration value="00C7C730"/>
												<xs:enumeration value="00C7C7E0"/>
												<xs:enumeration value="00C7C890"/>
												<xs:enumeration value="00C7C940"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="port2" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:NMTOKEN">
												<xs:enumeration value="00C3D330"/>
												<xs:enumeration value="00C3D3E0"/>
												<xs:enumeration value="00C3E5D0"/>
												<xs:enumeration value="00C3EED0"/>
												<xs:enumeration value="00C76060"/>
												<xs:enumeration value="00C76520"/>
												<xs:enumeration value="00C765D0"/>
												<xs:enumeration value="00C76680"/>
												<xs:enumeration value="00C76730"/>
												<xs:enumeration value="00C76890"/>
												<xs:enumeration value="00C76D60"/>
												<xs:enumeration value="00C77E10"/>
												<xs:enumeration value="00C77EC0"/>
												<xs:enumeration value="00C77F70"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="portType">
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="fanOut" type="xs:long" use="required"/>
	</xs:complexType>
</xs:schema>
